/*body{
  background: url(splash-bg.jpg) no-repeat;
  background-size: cover;
}*/
.content {
  /*margin-top: 50px;*/
}

.heading {
  font-size: 5.04vw;
  text-transform: uppercase;
  color: #0d1329;
  padding: 6vh 0 4.5vh;
}

.fblogin{
  background: #21548d !important;
}
.rtlogin{
  margin-top: 20px !important;
}
.signup{
  font-size: 3.36vw;
  color: #8a898e;
  padding-top: 4.5vh;
  margin: 0;
}
.signuplink{
  cursor: pointer;
  &:hover{
    opacity: 0.7;
  }
}