/*body{
  background: url(splash-bg.jpg) no-repeat;
  background-size: cover;
}*/
.content {
  /*margin-top: 50px;*/
}

.heading {
  font-size: 5.04vw;
  text-transform: uppercase;
  color: #0d1329;
  padding: 6vh 0 4.5vh;
}
.tagline{
  font-size: 3.12vw;
  color: #7f7f7f;
  line-height: 2;
  padding-bottom: 10vw;
}
.fbregister{
  background: #21548d !important;
}
.oroption{
  font-size: 3.36vw;
  color: #7f7f7f;
  margin: 3vh 0;
  span{
    display: inline-block;
    background: #fff;
    padding: 0px 20px;
  }
  &:after{
    content: '';
    display: block;
    height: 1px;
    background: #d7d9db;
    margin-top: -8px;
  }
}
.rtsignup{
  margin-top: 20px !important;
}
.signin{
  font-size: 3.36vw;
  color: #8a898e;
  margin-top: 4.5vh;
}
.signinlink{
  cursor: pointer;
  &:hover{
    opacity: 0.7;
  }
}