.content {
  text-align: center;
}
.heading{
	text-transform: uppercase;
	font-size: 9vw;
	color: #ffffff;
	color: red;
}
.tagline{
	font-size: 3.12vw;
	color: #b3b3b3;
	margin-bottom: 20%;
}
.signup{
	margin-bottom: 10px;
}
.login{
	background: transparent !important;
	border: 1px solid #7f7f7f;	
}
.logo{
	width: 22%;
	height: 61px;
	display: block;	
	padding-top: 10%;
	margin: 0 auto 26%;
}