@font-face {
    font-family:'Bebas Neue Regular';
    src: url('./fonts/BebasNeueRegular.eot');
    src: url('./fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/BebasNeueRegular.woff2') format('woff2'),
    url('./fonts/BebasNeueRegular.woff') format('woff'),
    url('./fonts/BebasNeueRegular.ttf') format('truetype'),
    url('./fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
html{ height: 100vh; }
body {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue Regular", Helvetica, Arial, sans-serif;
}
*{
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.clearfix:after{
  content: '';
  clear: both;
  display: block;
}
.no-padding{
  padding: 0 !important;
}
a{
	text-decoration: none;
	color: green;
}
h1{
	margin: 0;
}
header{
	display: none;
}
.content{
	min-height: 100vh;
	width: 100%;
	padding: 0 8vw;
}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="email"]{
  font-size: 3.12vw;
  display: block;
  width: 100%;
  height: 60px;
  line-height: 62px;
  margin-bottom: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #d7d9db;
  padding: 0 22px;
  outline: none;
}    
.buttons-box a{
	background: #6EC572;
	color:#FFFFFF;
	font-size: 4.3vw;
	display: block;
	height: 60px;
	line-height: 62px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer; 
	margin: 0 auto 10px;
	letter-spacing: 1.5px;
  outline: none;
}
.a-btn, .slick-next{
  color:#FFFFFF;
  font-size: 4.3vw;
  display: block;
  height: 60px;
  line-height: 62px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer; 
  margin: 0 auto 10px;
  letter-spacing: 1.5px;
  appearance: none;
  width: 100%;
  box-shadow: none;
  border: none;
  font-family: "Bebas Neue Regular", Helvetica, Arial, sans-serif;
  margin-top: 20px;
  outline: none;
}
.a-btn.btn-green{
  background: #6EC572;
}
.buttons-box a:hover, .a-btn:hover{
	opacity: 0.9;
}
._form_success{
  background: #333333;
  color: #fff;
  padding: 5px 10px;
  font-family: Lato;
  font-size: 11px;
  letter-spacing: 0.5px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}
#homePage{
	background: url(./images/splash-bg.jpg) no-repeat;
	background-size: cover;
}
.content {
  text-align: center;
}
#homePage .heading{
	text-transform: uppercase;
	font-size: 10.2vw;
	color: #ffffff;
	margin: 0;
}
#homePage .tagline{
	font-size: 3.5vw;
	color: #b3b3b3;
	margin-bottom: 20vh;
	font-family: 'Lato', sans-serif;
}
#homePage .signup{
	margin-bottom: 10px;
}
#homePage .login{
	background: transparent !important;
	border: 1px solid #7f7f7f;	
}
#homePage .logo{
	width: 38%;
	height: 61px;
	display: block;	
	padding-top: 5vh;
	margin: 0 auto 26vh;
}
#homePage .logo img{
  width: 100%;
}
#loginPage .heading {
  font-size: 5.04vw;
  text-transform: uppercase;
  color: #0d1329;
  padding: 6vh 0 4.5vh;
}

#loginPage .fblogin{
  background: #21548d !important;
}
#loginPage .rtlogin{
  margin-top: 20px !important;
}
#loginPage .signup-text{
  font-size: 3.36vw;
  color: #8a898e;
  padding-top: 4.5vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
#loginPage .signuplink{
  cursor: pointer;
}

#registerPage .heading {
  font-size: 5.04vw;
  text-transform: uppercase;
  color: #0d1329;
  padding: 6vh 0 4.5vh;
}
#registerPage .tagline{
  font-size: 3.12vw;
  color: #7f7f7f;
  line-height: 2;
  padding-bottom: 10vh;
  font-family: 'Lato', sans-serif;
}
#registerPage .fbregister{
  background: #21548d !important;
}
#registerPage .oroption{
  font-size: 3.36vw;
  color: #7f7f7f;
  margin: 3vh 0;  
  font-family: 'Lato', sans-serif;
}
#registerPage .oroption span{
	display: inline-block;
    background: #fff;
    padding: 0px 20px;
}
#registerPage .oroption:after{
    content: '';
    display: block;
    height: 1px;
    background: #d7d9db;
    margin-top: -8px;
}
#registerPage .rtsignup{
  margin-top: 20px !important;
}
#registerPage .signin{
  font-size: 3.36vw;
  color: #8a898e;
  margin-top: 4.5vh;
  font-family: 'Lato', sans-serif;
}
#registerPage .signinlink{
  cursor: pointer;
}
.logo-icon{
    padding-top: 3.2vh;
}
.field__error{
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	color: red;
	text-align: left;
	display: block;
	margin-top: -10px;
    margin-bottom: 10px;
}
._v_screens .heading{
  font-size: 5.04vw;
  text-transform: uppercase;
  color: #0d1329;
  padding: 2vh 0 7vh;
  letter-spacing: 2px;
}
._v_screens .tagline{
  font-size: 3.12vw;
  color: #7f7f7f;
  line-height: 2;
  padding-bottom: 5vh;
  font-family: 'Lato', sans-serif;
}
#smsVerificationPage .a-btn{
  margin-top: 30px;
}
/*Setup Screens*/
._setup_screen{ padding: 0; background: #0D1329;}
._setup_screen .heading{ font-size: 5.6vw; padding: 2vh 0; background: #ffffff; letter-spacing: 1px;}
._setup_screen .inner_content{ padding: 0 8vw; }
._setup_screen .inner_content .tagline{ font-size: 3.47vw; color: #9da1b1; font-family: 'Lato', sans-serif; margin-top: 6.3vh; margin-bottom: 7vh; line-height: 2; }
._options_box{ text-align: left; margin-bottom: 3.3vh;  }
._options_box h2{ color: #fff; font-size: 4.4vw; letter-spacing: 1px; }
._options_box ul{ list-style: none; margin-top: 3vh; }
._options_box ul li{ float: left; width: 47%; height: 9vh; margin-left: 6%; background-color: #31374d; color: #ffffff; font-family: 'Lato', sans-serif; border-radius: 5px; cursor: pointer; margin-bottom: 12px;}
._options_box ul li:first-child{ margin-left: 0; }
._options_box ul li label{ display: block; height: 100%; line-height: 9vh; padding-left: 18px; border-radius: 5px;}
._options_box ul li input{ display: none; }
._options_box ul li input:checked+label{ background: #ffffff; color: #31374d; }
._options_box ul li.disabled{ opacity: 0.5; cursor: not-allowed; }
._options_box ul li.disabled label{pointer-events: none; }
#buttonSetup ._nxt_button{ margin-top: 18vh; }
.stepsContainer .upperSection{ position: relative; }
.stepsContainer .upperSection img.setupBg{ width: 100%;}
.stepsContainer .upperSection .stepsIcon{ width: 23vw; position: absolute; bottom: -2.1vh; left: 38.5vw; }
.stepsContainer .step-3 .upperSection .stepsIcon{ width: 38.4vw; left: 30.8vw; bottom: -3.6vh; }
.stepsContainer .step-4 .upperSection img{visibility: hidden;}
.stepsContainer .step-4 .upperSection span{ position: absolute; left: 0; color: #6EC572; font-family: 'Lato'; font-size: 6vw; width: 100%; top: 25.5vh;}
.stepsContainer .lowerSection{ padding: 0 8vw; }
.stepsContainer .stepsCount{ color: #9DA1B1; font-size: 4.8vw; margin-top: 12.5vh; }
.stepsContainer .stepsCount ._active{ color: #ffffff; }
.stepsContainer p.tagline{ margin-top: 2.5vh !important; margin-bottom: 5vh !important; }
.slick-list{ overflow: hidden; }
.slick-slide { float: left; height: 100%; min-height: 1px; }
.slick-dots li{ display: inline-block; width: 8px; height: 8px; border-radius: 50%; background: #464c5c; font-size: 0; margin: 0 4px; overflow: hidden; margin-top: 20px; vertical-align: top;}
.slick-dots li.slick-active{ background: #ffffff; }
.slick-dots li button{ visibility: hidden; }
.slick-prev{ display: none !important; }
.slick-next{ background: #6EC572; width: 84vw; margin-top: 0; outline: none; }


/*.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
