@font-face {
    font-family:'Bebas Neue Regular';
    src: url('./fonts/BebasNeueRegular.eot');
    src: url('./fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/BebasNeueRegular.woff2') format('woff2'),
    url('./fonts/BebasNeueRegular.woff') format('woff'),
    url('./fonts/BebasNeueRegular.ttf') format('truetype'),
    url('./fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue Regular", Helvetica, Arial, sans-serif;
}
*{
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: green;
}
h1{
	margin: 0;
}
header{
	display: none;
}
.content{
	min-height: 100vh;
	width: 100%;
	padding: 0 8vw;
}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="email"]{
  font-size: 3.12vw;
  display: block;
  width: 100%;
  height: 60px;
  line-height: 62px;
  margin-bottom: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #d7d9db;
  padding: 0 22px;
  outline: none;
}    
.buttons-box a{
	background: #6EC572;
	color:#FFFFFF;
	font-size: 4.3vw;
	display: block;
	height: 60px;
	line-height: 62px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer; 
	margin: 0 auto 10px;
	letter-spacing: 1.5px;
}
.a-btn{
  color:#FFFFFF;
  font-size: 4.3vw;
  display: block;
  height: 60px;
  line-height: 62px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer; 
  margin: 0 auto 10px;
  letter-spacing: 1.5px;
  appearance: none;
  width: 100%;
  box-shadow: none;
  border: none;
  font-family: "Bebas Neue Regular", Helvetica, Arial, sans-serif;
  margin-top: 20px;
}
.a-btn.btn-green{
  background: #6EC572;
}
.buttons-box a:hover, .a-btn:hover{
	opacity: 0.9;
}
#homePage{
	background: url(./images/splash-bg.jpg) no-repeat;
	background-size: cover;
}
.content {
  text-align: center;
}
#homePage .heading{
	text-transform: uppercase;
	font-size: 10.2vw;
	color: #ffffff;
	margin: 0;
}
#homePage .tagline{
	font-size: 3.5vw;
	color: #b3b3b3;
	margin-bottom: 20vh;
	font-family: 'Lato', sans-serif;
}
#homePage .signup{
	margin-bottom: 10px;
}
#homePage .login{
	background: transparent !important;
	border: 1px solid #7f7f7f;	
}
#homePage .logo{
	width: 38%;
	height: 61px;
	display: block;	
	padding-top: 5vh;
	margin: 0 auto 26vh;
}
#homePage .logo img{
  width: 100%;
}
#loginPage .heading {
  font-size: 5.04vw;
  text-transform: uppercase;
  color: #0d1329;
  padding: 6vh 0 4.5vh;
}

#loginPage .fblogin{
  background: #21548d !important;
}
#loginPage .rtlogin{
  margin-top: 20px !important;
}
#loginPage .signup-text{
  font-size: 3.36vw;
  color: #8a898e;
  padding-top: 4.5vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
#loginPage .signuplink{
  cursor: pointer;
}

#registerPage .heading {
  font-size: 5.04vw;
  text-transform: uppercase;
  color: #0d1329;
  padding: 6vh 0 4.5vh;
}
#registerPage .tagline{
  font-size: 3.12vw;
  color: #7f7f7f;
  line-height: 2;
  padding-bottom: 10vh;
  font-family: 'Lato', sans-serif;
}
#registerPage .fbregister{
  background: #21548d !important;
}
#registerPage .oroption{
  font-size: 3.36vw;
  color: #7f7f7f;
  margin: 3vh 0;  
  font-family: 'Lato', sans-serif;
}
#registerPage .oroption span{
	display: inline-block;
    background: #fff;
    padding: 0px 20px;
}
#registerPage .oroption:after{
    content: '';
    display: block;
    height: 1px;
    background: #d7d9db;
    margin-top: -8px;
}
#registerPage .rtsignup{
  margin-top: 20px !important;
}
#registerPage .signin{
  font-size: 3.36vw;
  color: #8a898e;
  margin-top: 4.5vh;
  font-family: 'Lato', sans-serif;
}
#registerPage .signinlink{
  cursor: pointer;
}
.logo-icon{
    padding-top: 3.2vh;
}
.field__error{
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	color: red;
	text-align: left;
	display: block;
	margin-top: -10px;
    margin-bottom: 10px;
}
._v_screens .heading{
  font-size: 5.04vw;
  text-transform: uppercase;
  color: #0d1329;
  padding: 2vh 0 7vh;
  letter-spacing: 2px;
}
._v_screens .tagline{
  font-size: 3.12vw;
  color: #7f7f7f;
  line-height: 2;
  padding-bottom: 5vh;
  font-family: 'Lato', sans-serif;
}
#smsVerificationPage .a-btn{
  margin-top: 30px;
}