/*@font-face {
    font-family:'Bebas Neue Regular';
    src: url('/fonts/BebasNeueRegular.eot');
    src: url('/fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/BebasNeueRegular.woff2') format('woff2'),
    url('/fonts/BebasNeueRegular.woff') format('woff'),
    url('/fonts/BebasNeueRegular.ttf') format('truetype'),
    url('/fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Bebas Neue Regular", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background-color: #ffffff;
}

h1 {
  margin: 0;
  color: #F97F85;
}
a{
  color:green;
}

:global(#container) {
  width: 100%;
  padding: 0 8vw;
  min-height: 100vh;
  text-align: center;
  :global(.buttons-box){
    a{
      background: #6EC572;
      color:#FFFFFF;
      font-size: 3.84vw;
      display: block;
      height: 60px;
      line-height: 62px;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer; 
      margin: 0 auto 10px;    
      &:hover{
        opacity: 0.7;
      }
    }    
  }
  /*@media (min-width: 960px) {
    width: 960px;
    margin: 0 auto;
  }*/

  :global(#navigation) {
    padding: 10px 15px;
    background-color: #F9E957;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        font-size: 18px;
        font-weight: bold;

        a {
          color: #555;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  :global(.rt-form){
    input[type="text"],
    input[type="password"],
    input[type="number"],
    input[type="tel"],
    input[type="email"]{
      font-size: 3.12vw;
      display: block;
      width: 100%;
      height: 60px;
      line-height: 62px;
      margin-bottom: 10px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 1px solid #d7d9db;
      padding: 0 22px;
      outline: none;
    }    
  }
}
:global(.HomePage){
  background: #243f3a;
}